* {

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.header {

    min-width:100vw;
    background: #8AA9A8;
    display: flex;
    padding:30px;
    
    

}

.logo {

    width:40px;

    /* position:absolute;
    top:10px;
    left:30px; */

    
}

.container {

    margin: 0 auto;
    display: inline-block;


}


h1 {

 text-align: left;
 color:white;
 font-size:20px;
 padding:20px;
 font-weight: 200;


}


h2 {
    

    padding:30px;
    font-size: 30px;
    font-weight: 400;

}

h3 {
    
    margin: 10px 0 10px 50px;

    font-size: 20px;
    font-weight: 200;
}

.lesson1 a{

    
}

ul li{

    margin-left: 80px;
    margin-top:10px;
}